/**
 * styles.css
 *
 * App container styles
 */

@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('http://fonts.googleapis.com/css?family=Roboto:400,300,500,700');

.container {
  display: block;
  margin: 10px;
}

body {
  font-family: Roboto;
  background-color: #E5E5E5;
}

* {
  box-sizing: border-box;
}
